@import "tailwindcss";

@theme {
	--font-main: "roboto", sans-serif;

	--color-main: #222;
	--color-contrast: #fbfbfb;

	--color-primary: #00af77;
	--color-accent: #00ffaa;
	--color-shade: #006142;

	--color-main-shadow: #22222240;
	--color-contrast-shadow: #fbfbfb40;

	--color-primary-shadow: #00af7740;
	--color-accent-shadow: #00ffaa40;

	--color-txt: #fbfbfd;
	--color-warning: #ec003f;
}
