@media (prefers-color-scheme: light) {
	:root {
		--color-primary: #eee;
		--color-contrast: #222;
		--color-txt: #222;
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-primary);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-contrast);
	border: 2px solid #f1f5f9;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-contrast);
}

[data-theme="light"] {
	--color-primary: #eee;
	--color-contrast: #222;
	--color-txt: #222;
	--color-error: #ec003f;
}

[data-theme="dark"] {
	--color-primary: #222;
	--color-contrast: #eee;
	--color-txt: #eee;
	--color-error: #ec003f;
}
